
.centerImage{
  text-align: center;
}


.bibl{
  font-weight: bold;
  font-size: 20px;
}

.backg1 {
  background-color: #D3ECD1;
}

.backg2 {
  background-color: #D2D1EC
}
.backg3 {
  background-color: #ECD1D1
}